#My test files
tester.ipynb
Hybrid_tester.ipynb
Quantum_tester.ipynb
printTree.py
tester.py
Hybrid_tester.py
Quantum_tester.py
test.ipynb
test

#shuffled datas/zipped dataset/datas
shuffled_datas
*.zip
*.csv
CTU
dataset
IDS2017
ToN-IoT

#url files
Paper